.proza {
    p {
        max-width: $page-width;
        margin-left: auto;
        margin-right: auto;
    }
    .default-page {
        margin-top: 10rem;
    }
    .cover-image {
        margin: 0 0 80px;
        margin-top: calc( -7rem - 50px);
    }
    .cta-proza {
        background: $white;
        &.mt-3 {
            margin-top: 10rem;
        }
        &.dark-bg {
            background: $dark-gray;
            .wp-block-button__link {
                color: $white;
            }
            &:hover {
                background: $white;
                .wp-block-button__link {
                    color: $dark-gray;
                }
            }
        }
    }

    .offset-left {
        margin-left: calc( ( 100% - #{$page-width} ) / 2 );
        padding-right: calc( ( 100vw - #{$page-width} ) / 2 );
        &.pr-0 {
            padding-right: 0;
        }
    }

    .offset-right {
        margin-right: -3%;
        padding-left: 10%;
        &.pl-0 {
            padding-left: 0;
        }
    }
    .special-container{
        .wp-block-group__inner-container{
            max-width: 1140px;
            margin: 0 auto;
        }
    }
    .block-align-right .cta-proza {
        margin-left: auto;
    }
    .low-block-header {
        text-transform: uppercase;
        padding: 0;
        p {
            padding: 0;
            font-size: 40px;
        }
    }
    .offset-right .wp-block-media-text .wp-block-media-text__content {
        padding: 0 1rem 0 4rem;
    }
    .offset-left .wp-block-media-text .wp-block-media-text__content {
        padding: 0 4rem 0 1rem;
    }
    .wp-block-group > .wp-block-group__inner-container > .wp-block-group {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        &.hideable-text {
            margin: 0;
            padding: 4rem 0 0;
        }
    }
    .hideable-text {
        margin: 0;
        padding: 4rem 0 0;
    }
}
