.proza {
    p {
        max-width: $page-width;
        margin-left: auto;
        margin-right: auto;
    }
    .cover-image {
        margin: 0 0 80px;
        margin-top: calc( -7rem - 50px);
        @include media-maxw-1199 {
            margin: 0 auto;
        }
        @include media-maxw-991{
            width: 140px;
        }
        @include media-maxw-767{
            position: absolute;
            width: 124px;
            right: 10%;
            top: -8%;
        }
    }
    .cta-proza {
        background: $white;
        &.dark-bg {
            background: $dark-gray;
            .wp-block-button__link {
                color: $white;
            }
            &:hover {
                background: $white;
                .wp-block-button__link {
                    color: $dark-gray;
                }
            }
        }
        @include media-maxw-1199 {
            max-width: 250px;
            margin: 2em auto;

        }
        @include media-maxw-991{
            max-width: 155px;
        }
    }

    .offset-left {
        margin-left: calc( ( 100% - #{$page-width} ) / 2 );
        padding-right: calc( ( 100vw - #{$page-width} ) / 2 );
        margin-left: -3%; // style Sebastiana?
        padding-right: 10%; // style Sebastiana?
        &.pr-0 {
            padding-right: 0;
        }
        @include media-maxw-1199 {
            margin: 0;
            padding: 2em 5em;
        }
    }

    .offset-right {
        margin-right: calc( ( 100% - #{$page-width} ) / 2 );
        padding-left: calc( ( 100vw - #{$page-width} ) / 2 );
        margin-right: -3%;
        padding-left: 10%;
        &.pl-0 {
            padding-left: 0;
        }
        @include media-maxw-1199 {
            margin: 0;
            padding: 2em 5em;
        }
        @include media-maxw-767{
            padding: 2rem;
        }
    }
    .special-container{
        .wp-block-group__inner-container{
            max-width: 1140px;
            margin: 0 auto;
        }
    }
    .wp-block-columns{
        @include media-maxw-1440{
            padding: 0;
        }
    }
    .wp-block-group{
        position: relative;
        @media (max-width:1500px){
           &.offset-left{
                margin-left: 80px;
                @include media-maxw-991{
                    margin-left: 0;
                }
           }
           &.offset-right{
                margin-right: 80px;
                @include media-maxw-991{
                    margin-right: 0;
                }
            }
        }
        &:first-child{
            margin-top: 180px;
            @include media-maxw-991{
                margin-top: 0;
                padding-top: 50px;
            }
            @include media-maxw-767{
                margin-top: 80px;
            }
        }
        .wp-block-column--text{
            @include media-maxw-767{
                margin-top: 40px;
            }
        }
    }
    .block-align-right .cta-proza {
        margin-left: auto;
    }
    .low-block-header {
        text-transform: uppercase;
        padding: 0;
        @include media-maxw-1199 {
            margin: 0;
        }
        p {
            padding: 10px;
            font-size: 40px;
            @include media-maxw-1650{
                font-size: 31px;
            }
            @include media-maxw-1440{
                font-size: 28px;
            }
            @include media-maxw-1199 {
                padding: 1em;
                margin: 0;
            }
            @include media-maxw-991{
                font-size: 25px;
            }
        }

    }
    .offset-right .wp-block-media-text .wp-block-media-text__content {
        padding: 0 1rem 0 4rem;
    }
    .offset-left .wp-block-media-text .wp-block-media-text__content {
        padding: 0 4rem 0 1rem;
    }
    .wp-block-group > .wp-block-group__inner-container > .wp-block-group {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        &.hideable-text {
            margin: 0;
            padding: 4rem 0 0;
            @include media-maxw-1440{
                padding: 4rem 80px 0;
            }
        }
    }
    .hideable-text {
        margin: 0;
        padding: 4rem 0 0;
        @include media-maxw-1440{
            padding: 4rem 80px 0;
        }
    }
    .hero-section--global{
        @media (max-width:1169px){
            height: 710px;
        }
        @include media-maxw-767{
            height: 670px;
        }
        .hero-section--text-div{
            @media (max-width:1169px){
                top: 50% !important;
            }
            @include media-maxw-991{
                top: 37% !important;
                padding: 60px 0;
            }
            @include media-maxw-767{
                top: 15% !important;
            }
            .container-md-hero{
                @media (max-width:1500px){
                    padding: 0 80px;
                }
                @include media-maxw-767{
                    padding: 0 30px;
                }
                .img-with-button{
                    img{
                        @media (max-width:1367px){
                            width: 250px;
                        }
                        @media (max-width:1169px){
                            width: 138px;
                        }
                    }
                }
            }
        }
        .hero-section__bg{
            @media (max-width:1169px){
                height: 710px;
            }
            @include media-maxw-767{
                height: 670px;
            }
        }
        .row--global--default-page{
            @include media-maxw-767{
                flex-direction: column;
                .all-div-inner{
                    display: flex;
                    margin-top: 30px;
                    .img-with-button{
                        &:first-child{
                            margin-right: 40px;
                        }
                        &:last-child{
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
    .default-page{
        .container-md-hero{
            @include media-maxw-1199{
                padding: 0;
            }
            @include media-maxw-1440{
                .paddding-class-text{
                    padding: 5rem 80px 0;
                }
            }
            @include media-maxw-767{
                .paddding-class-text{
                    padding: 5rem 30px 0;
                }
            }
        }
        @include media-maxw-1440{
            .wp-block-group__inner-container h2{
                padding: 0;
                @include media-maxw-767{
                    text-align: center;
                }
            }
            .negative-margin{
                margin-top: 0;
                .image-offset-right{
                    &.img-proza-margin{
                        @include media-maxw-991{
                            padding-right: 0;
                            padding: 0 80px 50px;
                            margin: 0 auto;
                        }
                        img{
                            padding-right: 80px;
                            @include media-maxw-991{
                                padding-right: 0;
                                width: 100%;
                                height: 280px;
                            }
                            @include media-maxw-767{
                                height: 140px;
                            }
                        }
                    }
                }
                .image-offset-left{
                    img{
                        @include media-maxw-991{
                            padding-right: 0;
                            width: 100%;
                            height: 280px;
                            margin-bottom: 30px;
                        }
                        @include media-maxw-767{
                            height: 140px;
                        }
                    }
                }
            }
        }
        .align-dark-cus{
            @include media-maxw-991{
                .wp-block-group__inner-container{
                    .wp-block-columns{
                        align-items: center;
                        .cta-proza{
                            float: right;
                        }
                    }
                }
            }
            @include media-maxw-767{
                margin-top: 50px;
                .cover-image{
                    left: 14%;
                    top: -15%;
                    right: unset;
                }
                .wp-block-column--text{
                    margin-top: 60px;
                }
            }
        }
        @include media-maxw-991{
            .low-block-header--col{
                p{
                    max-width: 43%;
                    margin: 0 auto;
                    line-height: 25px;

                }
            }
        }
        @include media-maxw-991{
            .pb-0--bliza{
                .offset-right{
                    padding: 0 30px;
                }
                .alignwide{
                    margin: 0;
                }
                .wp-block-media-text{
                    height: 410px;
                    grid-template-columns: 50% auto!important;
                    h3{
                        font-size: 15px;
                        line-height: 20px;
                        padding: 0.5rem 0;
                    }
                }
                .wp-block-media-text__media{
                    width: 370px;
                    height: 410px;
                }
                .cta-proza {
                    padding: 2px;
                }
                &-rev{
                    .offset-left{
                        padding: 0 30px;
                    }
                    .alignwide{
                        margin: 0;
                    }
                    .wp-block-media-text{
                        height: 410px;
                        grid-template-columns: 45% auto!important;
                        h3{
                            font-size: 15px;
                            line-height: 20px;
                            padding: 0.5rem 0;
                        }
                    }
                    .wp-block-media-text__media{
                        width: auto;
                        height: 410px;
                    }
                    .cta-proza {
                        padding: 2px;
                    }
                }
            }
        }
        @include media-maxw-767{
            .low-block-header--col{
                p{
                    max-width: 80%;
                }
            }



            .pb-0--bliza{
                .mobile-small{
                    margin-left: -62px;
                    margin-right: -62px;
                    .wp-block-columns{
                        flex-direction: row;
                        padding-top: 40px;
                        align-items: flex-start;
                        .wp-block-column{
                            flex-basis: unset!important;
                        }
                        img{
                            width: 146px;
                        }
                    }
                    .cta-proza{
                        margin: 0 auto 30px;
                    }
                }
                .hideable-text{
                    padding: 0!important;
                }
            }
            .pb-0--bliza-rev{
                .mobile-small{
                    margin-left: -32px;
                    margin-right: -32px;
                    .wp-block-columns{
                        flex-direction: row;
                        padding-top: 40px;
                        align-items: flex-start;
                        .wp-block-column{
                            flex-basis: unset!important;
                        }
                        img{
                            width: 146px;
                        }
                    }
                    .cta-proza{
                        margin: 0 auto 30px;
                    }
                }
                .hideable-text{
                    padding: 0!important;
                }
            }


        }
    }
}


