
.poezja {
    .container-md-hero{
        padding: 0;
    }
    .offset-left {
        margin-left: calc( ( 100% - #{$page-width} ) / 2 + #{$poetry-offset} );
        padding-right: calc( ( 100vw - #{$page-width} ) / 2 );
        @include media-maxw-1199 {
            margin: 0;
            padding: 2em 5em;
        }
        @include media-maxw-991{
            padding: 2.5em 5em;
        }
    }

    .offset-right {
        margin-right: calc( ( 100% - #{$page-width} ) / 2 + #{$poetry-offset} );
        padding-left: calc( ( 100vw - #{$page-width} ) / 2 );
        @include media-maxw-1199 {
            margin: 0;
            padding: 2em 5em;
        }
    }


    //covers with header next to image, not above. Change order on mobile
    .short-cover {
        .wp-block-group__inner-container {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto 2fr;

            h2 {
                // width: 66.66%;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }
            .wp-block-image {
                // width: 33.33%;
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }
            p {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
        }
        &.block-align-right .wp-block-group__inner-container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto 2fr;

            h2 {
                // width: 66.66%;
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            .wp-block-image {
                // width: 33.33%;
                grid-column: 2 / 3;
                grid-row: 1 / 3;
            }
            p {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

        }
    }
    .block-align-right{
        &--change{
            @include media-maxw-991{
                .wp-block-columns{
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    .wp-block-column{
                        padding: 0;
                        margin: 0;
                        &--img{
                            .cover-image, .cta-poezja.cta-spec{
                                text-align: left;
                                margin-left: 0;
                            }
                        }
                    }
                    .wp-block-image{
                        text-align: left!important;
                        margin-left: unset!important;
                    }
                    .has-text-align-right{
                        text-align: left;
                    }
                }
            }
        }
    }
    .negative-margin{
        .wp-block-group__inner-container{
            .wp-block-image.size-large {
                @media (max-width:1500px){
                    img{
                        padding-right: 80px;
                    }
                    &.image-offset-left{
                        img{
                            padding-right: 0;
                             padding-left: 80px;
                             width: 100%;
                             @include media-maxw-1199{
                                 width: 85%;
                                 padding: 0;
                             }
                         }
                    }
                }
                @include media-maxw-1199{
                    img{
                        width: 85%;
                        padding: 0;
                        margin: -30px auto 0;
                        display: block;
                        height: 280px;
                    }
                }
                @include media-maxw-767{
                    img{
                        height: 140px;
                    }
                }
            }
        }
    }
    @include media-maxw-991{
        .hero-section--global{
            height: 890px;
            .hero-section__bg{
                height: 890px;
            }
            .hero-section--text-div--p{
                    flex-direction: column;
                    text-align: center;
                    ul{
                        margin: 0 auto 30px;
                        max-width: 320px;
                        li{
                            &::before{
                                margin-bottom: 0;
                                padding-top: 3px;
                            }
                        }
                    }
                }
                .col-md-6{
                    &:last-child{
                        p{
                            &:first-child{
                                max-width: 350px;
                                margin: 0 auto;
                                br{
                                    display: none;
                                }
                            }
                            &:nth-child(3){
                                max-width: 585px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }

        @include media-maxw-767{
            .hero-section--global{
                height: 501px;
                margin-top: 99px;
                .hero-section__bg{
                    height: 501px;
                }
                .hero-section--text-div{
                    top: 0% !important;
                }
                .hero-section--text-div--p{
                        text-align: left;
                        ul{
                            margin: 0 auto 30px;
                            max-width: 100%;
                            li{
                                font-size: 15px;
                                &::before{
                                    margin-bottom: 0;
                                    padding-top: 3px;
                                }
                            }
                        }
                        p{
                            font-size: 15px;
                        }
                    }
                    .col-md-6{
                        &:last-child{
                            p{
                                &:first-child{
                                    max-width: 100%;
                                    margin: 0 auto;
                                    br{
                                        display: none;
                                    }
                                }
                                &:nth-child(3){
                                    max-width: 100%;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
}
