.error404 {
    background: #DEDEDE;
    #notfound{
        margin-top: 400px;
        text-align: center;
        h2{
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 70px;
        }
        a{
            margin: 70px 0 50px;
            font-size: 40px;
            line-height: 53px;
            color: #4A4A4A;
            display: block;
            &:hover{
                color: #000;
            }
        }
        .notfound-404{
            background: #716D77;
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-maxw-767 {
                font-size: 160px;
                font-size: 40vw;
            }
            h1{
                font-size: 350px;
                line-height: 466px;
                color: #fff;
                margin-block-start: 0em;
                margin-block-end: 0em;
                @include media-maxw-767 {
                    font-size: 160px;
                    font-size: 40vw;
                }
            }
        }

    }
}

