@import "reset";

@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";

@import "global";
@import "header";
@import "footer";
@import "blog";
@import "single";
@import "search";
@import "404";
@import "page";

@import "pages/homepage/homepage";
@import "pages/contact";
@import "pages/audio_video";

@import "pages/poetry/poetry";

body{
    color: $text-color;
}
p{
    font-size: 18px;
    line-height: 35px;
    font-family: "akagi-pro", sans-serif;
    font-weight: 400;
}


.player--div{
    padding: 15px 0 60px;
    display: flex;
    align-items: center;
  }
  .player-wrapper {
    width: 320px;
    max-width: 580px;
  }

  #player {
    border-radius: 8px;
  }

  #track {
    width: 100%;
    height: 3px;
    background: #4A4A4A;
    cursor: pointer;
    display: flex;
    span{
      width: 14px;
      height: 14px;
      background: #fff;
      display: block;
      border-radius: 100%;
      margin-top: -6px;
      position: relative;
      border: 1px solid #707070;
    }
  }

  #progress {
    width: 0%;
    height: 100%;
    background: #6D6875;
    display: flex;
  }

  #controls {
    padding: 15px 0;
    text-align: center;
    vertical-align: middle;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-muted{
        width: 26px;
      }
  }

  #controls > div {
    vertical-align: middle;
  }

  .icon {
    display: inline-block;
    position: relative;
    margin: 4px 12px;
    cursor: pointer;
  }
  .player-icons-left{
    padding-left: 135px;
    margin-right: 100px;
    .icon{
      height: 24px;
    }
  }
  #pause {
    position: relative;
  }
  #pause{
    .fa-pause{
        padding: 7.5px 8.3px;
        border: 3px solid #4A4A4A;
        border-radius: 100%;
        color: #4A4A4A;
        font-size: 12px;
        margin-top: -7px;
    }
  }
  #mute {
    position: relative;
  }

  #volume {
    display: inline-block;
    width: 60px;
    height: 6px;
    margin-right: -60px;
    background: #4A4A4A;
    visibility: hidden;
    cursor: pointer;
  }

  #level {
    width: 100%;
    height: 100%;
    background: #6D6875;
  }

  #controls:hover #volume {
    visibility: visible;
  }
