@import "reset";

@import "helper/placeholders";
@import "helper/mixins";
@import "helper/variables";

@import "global";
@import "header";
@import "footer";
@import "blog";
@import "single";
@import "search";
@import "404";

@import "pages/homepage/homepage";
@import "pages/poetry/poetry";

body{
    color: #1C1C1B;
    color: $text-color; //inny kolor tekstu w projekcie jest?
}
p{
    font-size: 18px;
    line-height: 35px;
    font-family: "akagi-pro", sans-serif;
    font-weight: 400;
}