/*------------------------------------*\
    Presetting
\*------------------------------------*/
*,
*:after,
*:before {
  margin: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: inherit; }

html, body {
  font-family: "akagi-pro", sans-serif;
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

a:focus {
  outline: unset; }

.btn {
  border: 1px solid #4A4A4A;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 70px;
  border-radius: 10px;
  color: #4A4A4A; }
  .btn:hover {
    color: #fff;
    background: #4A4A4A; }

.container {
  max-width: 1530px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: 100%; }

.container-md {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: 100%; }

.container-sm {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: 100%; }
  @media only screen and (max-width: 991px) {
    .container-sm {
      padding: 0 27px; } }

.container-xl {
  max-width: 1826px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  width: 100%; }

.container-full {
  position: relative;
  padding: 0 15px;
  width: 100%; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

[class*="col-"] {
  position: relative;
  width: 100%;
  padding: 0 15px; }

@media only screen and (min-width: 1200px) {
  .max-mobile {
    display: none; }

  .max-display {
    display: block; } }
@media only screen and (min-width: 992px) {
  .mobile {
    display: none; }

  .desktop {
    display: block; } }
@media only screen and (min-width: 768px) {
  .mobile-small {
    display: none; }

  .desktop-small {
    display: block; } }
@media only screen and (max-width: 767px) {
  .col-xsm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-xsm-2-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-xsm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xsm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-xsm-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-xsm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xsm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xsm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-xsm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (min-width: 768px) {
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-sm-2-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-sm-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (min-width: 992px) {
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

  .col-md-2-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-3-5 {
    -ms-flex: 0 0 29.1666666666%;
    flex: 0 0 29.1666666666%;
    max-width: 29.1666666666%; }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-md-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (min-width: 1200px) {
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-5 {
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (max-width: 1199px) {
  .max-mobile {
    display: block; }

  .max-desktop {
    display: none; } }
@media only screen and (max-width: 991px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; } }
@media only screen and (max-width: 767px) {
  .mobile-small {
    display: block; }

  .desktop-small {
    display: none; } }
.header--h1 {
  font-size: 55px;
  line-height: 66px; }
  @media only screen and (max-width: 1440px) {
    .header--h1 {
      font-size: 48px; } }

.header--h2 {
  font-size: 40px;
  line-height: 48px;
  position: relative;
  font-weight: 600; }
  @media only screen and (max-width: 1650px) {
    .header--h2 {
      font-size: 31px; } }
  @media only screen and (max-width: 1440px) {
    .header--h2 {
      font-size: 28px; } }

.header--h4 {
  font-size: 24px;
  line-height: 35px; }

.form-wrapper {
  width: 100%; }

@media only screen and (max-width: 1199px) {
  .form-col {
    max-width: 500px;
    margin: 0 auto; } }
.form-col--center {
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 1199px) {
    .form-col--center {
      display: block; } }
.form-col-down {
  display: flex; }
  @media only screen and (max-width: 1199px) {
    .form-col-down {
      margin-top: 100px;
      justify-content: space-between; } }
  @media only screen and (max-width: 767px) {
    .form-col-down {
      flex-direction: column;
      margin-top: 40px; } }
@media only screen and (max-width: 767px) {
  .form-col .wpcf7-list-item {
    margin: 0; } }
@media only screen and (max-width: 767px) {
  .form-col {
    padding: 0; } }
.form-col.col-lg-4 {
  padding: 0 15px; }

.form-title {
  font-family: 'Poppins-Bold';
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 145px;
  margin-bottom: 15px; }
  @media only screen and (max-width: 1199px) {
    .form-title {
      margin-top: 50px; }
      .form-title br {
        display: none; } }
  @media only screen and (max-width: 767px) {
    .form-title {
      margin-bottom: 30px; } }

.form-row {
  position: relative; }
  @media only screen and (max-width: 1199px) {
    .form-row--agree {
      margin-left: -60px; } }
  @media only screen and (max-width: 767px) {
    .form-row--agree {
      margin-left: auto; } }
  .form-row-down {
    width: 60%;
    margin-left: 70px;
    margin-top: -10px; }
    @media (max-width: 1500px) {
      .form-row-down {
        margin-left: 50px; } }
    @media (max-width: 1380px) {
      .form-row-down {
        margin: -10px auto 0; } }
    @media only screen and (max-width: 1199px) {
      .form-row-down {
        margin: -10px 0 0; } }
    .form-row-down-2 {
      width: 75%;
      margin-left: 15px; }
      @media only screen and (max-width: 767px) {
        .form-row-down-2 {
          width: 60%;
          margin: 0; } }

.form-input,
.form-select {
  width: 100%;
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  padding: 10px 17px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  background-color: #fff; }
  @media only screen and (max-width: 767px) {
    .form-input,
    .form-select {
      height: 50px;
      font-size: 14px; } }

.webinar-form .form-input {
  width: calc(100% - -15px); }
  @media only screen and (max-width: 1199px) {
    .webinar-form .form-input {
      width: 100%; } }

.download-code-form {
  width: 96%; }

.form-select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("imgs/form-select.svg");
  background-position: 98% center;
  background-repeat: no-repeat; }

.form-label {
  position: absolute;
  top: 11px;
  left: 17px;
  font-size: 16px;
  line-height: 22px;
  background: transparent;
  transform: translateY(0);
  transition: all .4s ease-in-out;
  color: #7B7B7B; }

.form-row.active .form-label {
  transform: translateY(-27px);
  font-size: 14px;
  background: #fff;
  padding: 0 20px; }
.form-row.active .form-input,
.form-row.active .form-select {
  border-bottom: 3px solid #00BBDD; }

.webinar-form .form-row.active .form-label {
  background: #f8f8f8; }

.wpcf7-response-output {
  display: inline-flex; }

.form-acceptance, .form-acceptance2 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px; }
  .form-acceptance .wpcf7-list-item, .form-acceptance2 .wpcf7-list-item {
    margin: 0; }
  .form-acceptance .form-checkbox, .form-acceptance2 .form-checkbox {
    position: absolute;
    opacity: 0; }
    .form-acceptance .form-checkbox + span, .form-acceptance2 .form-checkbox + span {
      position: relative;
      cursor: pointer;
      font-size: 15px;
      padding: 0 0 15px 30px;
      line-height: 22px;
      display: flex;
      align-items: center; }
      .form-acceptance .form-checkbox + span .flex-form, .form-acceptance2 .form-checkbox + span .flex-form {
        display: flex; }
      .form-acceptance .form-checkbox + span .more.arrows-red, .form-acceptance2 .form-checkbox + span .more.arrows-red {
        font-family: 'Poppins-Bold';
        font-size: 20px;
        line-height: 35px;
        color: #E30613;
        padding-left: 10px; }
      .form-acceptance .form-checkbox + span .more i, .form-acceptance2 .form-checkbox + span .more i {
        font-size: 24px; }
      .form-acceptance .form-checkbox + span .more__text, .form-acceptance2 .form-checkbox + span .more__text {
        font-style: normal;
        font-weight: 400;
        font-size: .752rem;
        line-height: 21px;
        visibility: hidden;
        width: 560px;
        background-color: #f2f2f2;
        color: #000;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 2;
        bottom: 125%;
        left: -200px;
        opacity: 0;
        transition: opacity .3s; }
        @media only screen and (max-width: 1199px) {
          .form-acceptance .form-checkbox + span .more__text, .form-acceptance2 .form-checkbox + span .more__text {
            left: -50px; } }
        @media only screen and (max-width: 991px) {
          .form-acceptance .form-checkbox + span .more__text, .form-acceptance2 .form-checkbox + span .more__text {
            width: 500px; } }
        @media only screen and (max-width: 767px) {
          .form-acceptance .form-checkbox + span .more__text, .form-acceptance2 .form-checkbox + span .more__text {
            left: 0px;
            width: 300px; } }
        @media (max-width: 390px) {
          .form-acceptance .form-checkbox + span .more__text, .form-acceptance2 .form-checkbox + span .more__text {
            width: 280px; } }
        @media (max-width: 350px) {
          .form-acceptance .form-checkbox + span .more__text, .form-acceptance2 .form-checkbox + span .more__text {
            width: 200px; } }
      .form-acceptance .form-checkbox + span .more:hover .more__text, .form-acceptance2 .form-checkbox + span .more:hover .more__text {
        visibility: visible;
        opacity: 1; }
    .form-acceptance .form-checkbox + span:before, .form-acceptance2 .form-checkbox + span:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: #fff;
      position: absolute;
      left: 0;
      top: 4px; }
    .form-acceptance .form-checkbox:checked + span:before, .form-acceptance2 .form-checkbox:checked + span:before {
      background: #E30613; }
    .form-acceptance .form-checkbox:checked + span:after, .form-acceptance2 .form-checkbox:checked + span:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 12px;
      background: #fff;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
      transform: rotate(45deg); }

.important-fields {
  font-size: 10px;
  margin-bottom: 40px;
  display: block; }

.form-checkboxes {
  display: flex;
  flex-direction: column; }
  .form-checkboxes .wpcf7-list-item {
    margin-bottom: 42px; }
  .form-checkboxes input[type='checkbox'] {
    position: absolute;
    opacity: 0; }
    .form-checkboxes input[type='checkbox'] + span {
      position: relative;
      cursor: pointer;
      font-size: 16px;
      padding: 0 0 0 30px;
      line-height: 17px;
      display: flex; }
    .form-checkboxes input[type='checkbox'] + span:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: solid 1px #00BBDD;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: 0; }
    .form-checkboxes input[type='checkbox']:checked + span:before {
      background: transparent; }
    .form-checkboxes input[type='checkbox']:checked + span:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 9px;
      background: #00BBDD;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 #00BBDD, 4px 0 0 #00BBDD, 4px -2px 0 #00BBDD, 4px -4px 0 #00BBDD, 4px -6px 0 #00BBDD, 4px -8px 0 #00BBDD;
      transform: rotate(45deg); }

.form-submit {
  border: 2px solid #1C1C1B;
  color: #fff;
  background-color: #E30613;
  font-size: 15px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 9px 5px;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center; }
  @media only screen and (max-width: 1199px) {
    .form-submit {
      width: 380px;
      margin: 0 auto; } }
  @media only screen and (max-width: 767px) {
    .form-submit {
      width: 80%; } }

.wpcf7-not-valid-tip {
  margin-bottom: 20px;
  margin-top: -20px; }

.aligncenter {
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.br-line {
  width: 100%;
  height: 1px;
  background: #EEEEEE;
  margin: 60px 0; }

.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  .header .nav {
    height: 80px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; }
    .header .nav__wrapper {
      padding: 18px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .header .nav__wrapper .nav__menu .menu-list {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        width: 650px;
        max-width: 100%;
        justify-content: space-between; }
        .header .nav__wrapper .nav__menu .menu-list .menu-item {
          position: relative; }
          .header .nav__wrapper .nav__menu .menu-list .menu-item a {
            font-size: 20px;
            line-height: 27px;
            text-transform: uppercase;
            color: #000; }
            @media only screen and (max-width: 991px) {
              .header .nav__wrapper .nav__menu .menu-list .menu-item a {
                font-size: 13px;
                line-height: 30px;
                font-family: 'Poppins-SemiBold'; } }
          .header .nav__wrapper .nav__menu .menu-list .menu-item .sub-menu {
            display: none;
            position: absolute;
            top: 25px;
            left: 0;
            background-color: #233769;
            padding: 10px 24px;
            width: 210px; }
            .header .nav__wrapper .nav__menu .menu-list .menu-item .sub-menu a {
              color: #fff; }
          .header .nav__wrapper .nav__menu .menu-list .menu-item.sub-menu li {
            margin: 0 0px; }
          .header .nav__wrapper .nav__menu .menu-list .menu-item.sub-menu:hover .sub-menu {
            display: block; }
            .header .nav__wrapper .nav__menu .menu-list .menu-item.sub-menu:hover .sub-menu li:hover {
              color: #000000; }
          .header .nav__wrapper .nav__menu .menu-list .menu-item:not(.sub-menu) {
            overflow: hidden;
            height: 40px; }
            .header .nav__wrapper .nav__menu .menu-list .menu-item:not(.sub-menu):after {
              content: '';
              width: 100%;
              height: 3px;
              background-color: #000000;
              border-radius: 50px;
              position: absolute;
              bottom: 0;
              left: 0;
              transform: translateX(-105%);
              transition: transform 0.5s ease-in-out; }
          .header .nav__wrapper .nav__menu .menu-list .menu-item:hover:not(.sub-menu):after {
            transform: translateX(0); }
      .header .nav__wrapper__br {
        width: 100%;
        max-width: 650px;
        height: 5px;
        background: #000;
        border-radius: 50px;
        margin-bottom: 50px; }
    .header .nav__logo-link {
      padding: 50px 0 50px; }

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center; }
  .hero-section__bg {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    .hero-section__bg__h2 {
      font-size: 40px;
      color: #fff;
      text-align: center;
      line-height: 53px; }
    .hero-section__bg .hero-section--text-div {
      position: absolute;
      top: 40%;
      width: 100%;
      background: #6D6875;
      padding: 75px 0;
      color: #fff; }
      .hero-section__bg .hero-section--text-div--p {
        display: flex;
        margin-top: 40px;
        justify-content: space-between; }
        .hero-section__bg .hero-section--text-div--p p {
          font-size: 26px; }
      .hero-section__bg .hero-section--text-div span {
        text-align: right;
        display: block;
        font-size: 26px; }

.homepage__publications {
  padding: 100px 0;
  position: relative; }
  .homepage__publications h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase; }
  .homepage__publications .swiper-button-prev-custom-our, .homepage__publications .swiper-button-next-custom-our {
    position: absolute;
    top: 51%;
    z-index: 3;
    cursor: pointer; }
  .homepage__publications .swiper-button-prev-custom-our {
    left: 50px; }
  .homepage__publications .swiper-button-next-custom-our {
    right: 50px; }

.homepage__other__inner {
  position: relative;
  width: 100%; }
  .homepage__other__inner__div .header--h2 {
    font-size: 40px;
    margin-bottom: 60px;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: bold; }
  .homepage__other__inner__div p {
    font-size: 30px;
    line-height: 46px;
    max-width: 600px; }
  .homepage__other__inner__div a {
    position: absolute;
    right: 15%;
    bottom: 0; }
  .homepage__other__inner__div:first-child {
    background: #6D6875;
    color: #fff;
    padding: 115px 0 90px 250px;
    width: 65%; }
  .homepage__other__inner__div img {
    position: absolute;
    top: 95px;
    right: 0; }

.homepage__love {
  margin-top: 140px; }
  .homepage__love__inner {
    width: 100%; }
    .homepage__love__inner__div {
      position: relative; }
      .homepage__love__inner__div .header--h2 {
        font-size: 40px;
        margin-bottom: 60px;
        line-height: 54px;
        text-transform: uppercase;
        font-weight: bold;
        color: #4A4A4A; }
      .homepage__love__inner__div:last-child {
        background: #DEDEDE;
        padding: 115px 0 0 350px;
        width: 80%;
        margin-left: auto; }
      .homepage__love__inner__div img {
        position: absolute;
        top: 195px;
        left: -6%; }
      .homepage__love__inner__div .text-inner {
        display: flex;
        max-width: 890px;
        justify-content: space-between; }
        .homepage__love__inner__div .text-inner p {
          font-size: 30px;
          line-height: 46px;
          max-width: 600px;
          margin-bottom: 30px; }
          .homepage__love__inner__div .text-inner p span {
            text-align: right;
            display: block;
            color: #707070; }
        .homepage__love__inner__div .text-inner a {
          position: absolute;
          right: 15%;
          bottom: 0; }

body {
  color: #1C1C1B; }

p {
  font-size: 18px;
  line-height: 35px;
  font-family: "akagi-pro", sans-serif;
  font-weight: 400; }

/*# sourceMappingURL=style.css.map */


.has-white-color {
    color: #fff;}
.has-almost-white-color {
    color: #fcfcfc;}
.has-light-grayish-purple-color {
    color: #6D6875;}
.has-grayish-purple-color {
    color: #716d77;}
.has-purple-color {
    color: #3f187e;}
.has-light-gray-color {
    color: #dedede;}
.has-gray-color {
    color: #555;}
.has-dark-gray-color {
    color: #4a4a4a;}
.has-black-color {
    color: #000;}

.has-white-background-color {
    background-color: #fff;}
.has-almost-white-background-color {
    background-color: #fcfcfc;}
.has-light-grayish-purple-background-color {
    background-color: #6D6875;}
.has-grayish-purple-background-color {
    background-color: #716d77;}
.has-purple-background-color {
    background-color: #3f187e;}
.has-light-gray-background-color {
    background-color: #dedede;}
.has-gray-background-color {
    background-color: #555;}
.has-dark-gray-background-color {
    background-color: #4a4a4a;}
.has-black-background-color {
    background-color: #000;}

.entry-content .alignwide {
  margin-left  : -80px;
  margin-right : -80px;}
.entry-content .alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;}
.alignfull img {
  width: 100vw;}
.align-right {
text-align: right;}
.text-uppercase {
  text-transform: uppercase;
}