.hero-section {
    position: relative;
    height: 1100px;
    display: flex;
    align-items: center;
    @include media-maxw-991{
      height: 580px;
    }
    @include media-maxw-767{
      height: 669px;
    }
    &__bg{
      position: relative;
      width: 100%;
      height: 1100px;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      opacity: 1;
      transition: opacity .5s ease-in-out;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      @include media-maxw-991{
        height: 580px;
      }
      @include media-maxw-767{
        height: 669px;
      }
      &__h2{
        font-size: 40px;
        color: #fff;
        text-align: center;
        line-height: 53px;
        @include media-maxw-991{
          font-size: 25px;
          line-height: 33px;
        }
        @include media-maxw-767{
          margin: 30px 0;
        }
      }
      .hero-section--text-div{
        position: absolute;
        top: 40%;
        width: 100%;
        background: rgba(109, 104, 117, 0.7);
        padding: 75px 0;
        color: #fff;
        @include media-maxw-991{
          top: 43%;
          padding: 30px 0;
        }
        @include media-maxw-767{
          top: 100px;
        }
        &--p{
          display: flex;
          margin-top: 40px;
          justify-content: space-between;
          @include media-maxw-991{
            padding: 0 40px;
            margin-top: 10px;
          }
          @include media-maxw-767{
            flex-direction: column;
            text-align: center;
          }
          p{
            font-size: 26px;
            @media (max-width:1600px){
              font-size: 24px;
            }
            @include media-maxw-1199{
              font-size: 22px;
            }
            @include media-maxw-991{
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
        span{
          text-align: right;
          display: block;
          font-size: 26px;
          @include media-maxw-991{
            font-size: 16px;
            padding-right: 40px;
          }
          @include media-maxw-767{
            margin-top: 30px;
          }
        }
      }
    }
  }
  .home{
    .hero-section {
      height: 950px;
      @include media-maxw-991{
        height: 580px;
      }
      @include media-maxw-767{
        height: 669px;
      }
      &__bg{
        height: 950px;
        @include media-maxw-991{
          height: 580px;
        }
        @include media-maxw-767{
          height: 669px;
        }
      }
    }
  }
  .page-id-28{
    .hero-section {
      height: 1150px;
      @include media-maxw-991{
        height: 580px;
      }
      &__bg{
        height: 1150px;
      }
      &--text-div{
        top: 32% !important;
      }
    }
  }