.homepage__publications {
  padding: 100px 0;
  position: relative;
  h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
  }

  .swiper-button-prev-custom-our, .swiper-button-next-custom-our{
    position: absolute;
    top: 51%;
    z-index: 3;
    cursor: pointer;
    @include media-maxw-991{
      top: 57%;
    }
    img{
      @include media-maxw-991{
        width: 27px;
      }
    }
  }
  .swiper-button-prev-custom-our{
    left: 50px;
    @media (max-width:1650px){
      left: 20px;
    }
    @media (max-width:1600px){
      width: 60px;
      left: 10px;
    }
    @media (max-width:1440px){
      padding-right: 10px;
    }
    @include media-maxw-991{
      left: 20px;
      width: auto;
    }
    @include media-maxw-767{
      left: 5px;
    }
  }
  .swiper-button-next-custom-our{
    right: 50px;
    @media (max-width:1650px){
      right: 20px;
    }
    @media (max-width:1600px){
      width: 60px;
      right: 10px;
    }
    @media (max-width:1440px){
      padding-left: 10px;
    }
    @include media-maxw-991{
      right: 20px;
      width: auto;
    }
    @include media-maxw-767{
      right: 5px;
      width: auto;
    }
  }
  .container{
    padding: 0 70px;
    @include media-maxw-767{
      padding: 0 40px;
    }
  }
}