//colors
$white: #fff;
$almost-white: #fcfcfc;
$light-grayish-purple: #6D6875;
$grayish-purple: #716d77;
$purple: #3f187e;
$light-gray: #dedede;
$gray: #555;
$dark-gray: #4a4a4a;
$black: #000;
$text-color: $dark-gray;
$dark-mode-text-color: $white;
$dark-mode-background-color: $light-grayish-purple;


$page-width: 1326px;
$poetry-offset: 37%;